@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body, #raiz { min-height: 100%; }
body {
  -webkit-font-smoothing: antialiased;
  padding-top: env(safe-area-inset-top);
}
textarea, input, select { font: inherit; }
@plugin "@tailwindcss/typography";
